# Python
.venv/
__pycache__/
*.pyc
*.pyo

# Konfiguration mit Zugangsdaten
config.ini

# Export-Ausgabe
export/

# Lokale Konfiguration mit Zugangsdaten
config_local.py

# Google Service Account Keys
*-[0-9a-f]*[0-9a-f].json
